################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Infra/bin/Debug/net8.0
/Infra/obj
/Middleware/bin/Debug/net8.0
/Middleware/obj
/Services/bin/Debug/net8.0
/Services/obj
/Shared/bin/Debug/net8.0
/Shared/obj
/.vs/AngularEcommerceApp
/.vs/my_Ecom_proj/v17
/.vs/ProjectEvaluation
*.json
/My_Ecom_Dotnet/obj
/My_Ecom_Dotnet/bin/Debug/net8.0
/.vs/my_Ecom_proj/FileContentIndex
*.sqlite
