################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Infra/bin/Debug/net8.0
/Infra/obj
/Middleware/bin/Debug/net8.0
/Middleware/obj
/Services/bin/Debug/net8.0
/Services/obj
/Shared/bin/Debug/net8.0
/Shared/obj
